/Rack
/Rack.exe
/Rack.res
/libRack.a
/dep
/dep.bak
/plugins
/disabledplugins
/build
/dist
/patches
.DS_Store
.vscode
.history
Icon*
.cache
cmake-build-debug
oui-blendish
/autosave.vcv
/settings.json
/screenshots
